<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retretku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_retretku"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_retretku_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HapusRumahRetretPengelola"></activity>
        <activity android:name=".HomePengelola">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detail_tempat_retret" />
        <activity android:name=".detail_pemesanan" />
        <activity android:name=".calendarDetail" />
        <activity android:name=".calendar" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@layout/activity_home" />

        <activity android:name=".home" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>